.crop{
    white-space: nowrap;
    overflow: hidden;
}

div{
    cursor: pointer;
}

.star {
    cursor: pointer;
    font-size: 24px;
    color: gray; /* Default color for unselected stars */
    margin-right: 5px;
  }
  
  .gold-star {
    color: gold; /* Gold color for selected stars */
}
